#dropDownSelection {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(43, 194, 164);
  width: 150px;
  position: absolute;
  height: 170px;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-image: url(../../../../images/DDWBg.png);
}
#dropDownSelection li {
  padding: 8px 12px;
}
#dropDownSelection li:hover {
  background-color: rgb(0, 130, 156);
  cursor: pointer;
}