#headerContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    a{
        color: blue;
        font-size: 25px;
        margin-right: 20px;
        margin-top: 20px;
        cursor: pointer;
    }
    #iconCloud{
        font-size: 40px;
        margin-right: 20px;
        margin-top: 20px;
        color: blue;
        cursor: pointer;
    }
}