@import "../../../../../helpers/variables/colors.scss";

$mywidth: 500px;
$myheight: 60px;

#memberItem{
    background: rgba(50,173,118,1);
    display: flex;
    margin-top: 30px;
    height: $myheight;
    width: $mywidth;
    border-radius: 20px;
    padding: 3px;
    margin-left: 10px;
    cursor: pointer;
    .memberItemElements{
        background-color: rgb(22,62,73);
        width: 100%;
        height: 100%;
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: $mainTextColor;
        gap: 10px;
        div{
            width: 60px;
            height: 60px;
            margin-left: 7px;
            background-image: url(../../../../../images/ClansLogo/1053-diamond.png);
            background-size: cover;
            flex-shrink: 0;
        }
        p{
            width: 20px;
            position: relative;
            flex-grow: 1;
        }
        #place{
            width: 1%;
        }
        #solbedTasks{
            width: 25%;
        }
    }
}