@import "../../../../../helpers/variables/colors.scss";

.storeItem{
    width: 150px;
    height: 200px;
    padding: 3px;
    background: rgba(50,173,118,1);
    #storeItemContent{
        width: 150px;
        height: 200px;
        background-color: rgb(22,62,73);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img{
            width: 75px;
            height: 125px;
        }
        p{
            color: $mainTextColor;
        }
    }
}