* {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#auth {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../../../images/Bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
#auth #form {
  margin: auto;
  margin-top: 140px;
  border: 2px solid;
  border-radius: 20px;
}