@import "../../../../../helpers/variables/colors.scss";
@import "../../../../../helpers/mixins/mixins.scss";
.tasksListMainView{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $mainTextColor;
    font-size: 25px;
    .searchConatiner{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        margin-top: 20px;
        height: 200px;
        margin-bottom: -100px;
        input{
            margin-top: -3px;
            width: 100vw;
            margin-left: -15px;
            width: 200px;
            height: 30px;
            font-size: 25px;
            background: none;
            border: none;
            color: $mainTextColor;
        }
        input:focus {
            outline: none;
        }
    }

    button{
        @include myButton;
        margin-right: auto;
        margin-bottom: 100px;
        margin-left: 20px;

        &:hover{
            @include hovers;
        }
    }

    #tasksContainer{
        display: flex;
        overflow: auto;
        margin-left: 40px;
        flex-direction: row;
        margin-top: -70px;
        font-size: 20px;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        gap: 20px;
        align-content: flex-start;
        padding-right: 35px;
    }

    #checkOption{
        width: 100%;
        display: flex;
        margin-left: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 150px;

        .option{
            background: none;
            width: 100%;
            margin-bottom: auto;
            text-align: center;
            border: 2px solid $notActive;
            color: $notActive;
            border-top: none;
            border-left: none;
            cursor: pointer;
        }
        #active{
            color: $mainTextColor;
            border-color: $mainTextColor;
            transition: 0.5s;
        }
    }
}